h3 Trzsz ( trz / tsz )

div.trzsz-settings-tab
	.trzsz-table
		.row
			.header
				.title Default upload path:
			input.form-control(
				type='text',
				[(ngModel)]='config.store.trzszPlugin.defaultUploadPath',
				(ngModelChange)='config.save()',
			)
		.row
			.header
				.title Default download path:
			input.form-control(
				type='text',
				[(ngModel)]='config.store.trzszPlugin.defaultDownloadPath',
				(ngModelChange)='config.save()',
			)
	.form-line
		.header
			.title Enable drag files and directories to upload
		toggle(
			[(ngModel)]='config.store.trzszPlugin.enableDragUpload',
			(ngModelChange)='config.save()',
		)
